version: "3"

services:

#  angular:
#    container_name: client
#    build:
#      context: ./client
#    restart: always
#    env_file:
#      - app-variables.env
#    ports:
#      - 4200:4200
#    volumes:
#      - ./client:/app

  gingonic:
    container_name: ag_go_server
    build:
      context: ./go_server
      dockerfile: Dockerfile
#    restart: always
    env_file:
      - app-variables.env
    ports:
      - 3030:3030
    volumes:
      - ./go_server:/go/src/go_server
    depends_on:
      - db
    links:
      - db

  traefik:
    image: traefik:v1.7
    # command: --web --docker --docker.domain=docker.localhost --logLevel=INFO --docker.exposedbydefault=false
    ports:
      - "5050:80"
      - "5051:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events
      - ./traefik/traefik.toml:/traefik.toml

  db:
    container_name: ag_mysql_db
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    env_file:
      - db.env

  adminer:
    container_name: ag_adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080